$form-color: #ffffff;
$bg-color: #dddddd;
$font-main: #2f3234;
$font-sub: #474d52;
$border-hover: #272c30;
$gray: #636363;

$input-bg-color: #cccccc;
$input-outline-color: #9b9b9b;

$link-color: #41aaff;

$form-button: #7289da;
$form-button-color: white;