$form-color: #ffffff;
$bg-color: #dddddd;
$splash-bg-color: #e9e4e0;

$font-main: #2f3234;
$font-sub: #474d52;
$font-main-negative: white;
$font-sub-negative: #999999;

$border-hover: #272c30;
$gray: #636363;

$input-bg-color: #cccccc;
$input-outline-color: #9b9b9b;

$link-color: #41aaff;
$link-button-color: #ffc038;
$link-button-color-hover: #ffd477;
$link-hover-color: #137bcf;

$form-button: #ffc038;
$form-button-color: #2f3234;

$accord-app-1: #e9e4e0;
$accord-app-2: #c2bcb8;
$accord-app-3: #999491;
$accord-app-4: #777371;
$accord-app-5: #5e5a58;