::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $splash-bg-color; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $font-sub; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $font-main; 
}