.splash-box {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top: 150px;;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: $roboto;
    color: $font-sub;

}

.splash-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 3000px;
    
    > div {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;

        h1 {
            font-size: 54px;
            font-weight: 700;
            margin-bottom: 40px;
        }

        .title-desc {
            width: 400px;
        }

    }

    .div-1, .div-5 {
        flex-direction: column;
        align-items: center;
        
        p {
            text-align: center;
        }

        img {
            height: 300px;
            width: 300px;
        }
    }

    .div-2, .div-3, .div-4 {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-gap: 5%;
        color: $font-main;
        align-items: center;
        padding: 60px 40px;
        height: 600px;

        img {
            height: 300px;
        }

        .title {
            font-size: 42px;
            font-weight: 700;
            line-height: 55px;
        }
        .desc {
            margin-top: -20px;
            font-size: 20px;
            line-height: 34px;
            font-weight: 300;
        }
    }

    .div-2, .div-4 {

        img {
            grid-column-start: 1;
            grid-column-end: 6;
        }

        .title-desc {
            grid-column-end: 13;
        }

    }

    .div-3 {

        img {
            grid-column-end: 13;
        }

        .title-desc {
            grid-column-start: 1;
            grid-column-end: 6;
        }
    }

    .div-1 {
        color: white;
        width: 40%;
        margin-bottom: 700px;

        h1 {
            font-size: 54px;
            font-weight: 700;
            margin-bottom: 40px;
        }

        p {
            font-size: 20px;
            line-height: 36px;
            text-shadow:
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
            margin-bottom: 30px;
        }

    }

    .div-5 {

        .desc {
            margin-top: -20px;
            font-size: 20px;
            line-height: 34px;
            font-weight: 300;
            width: 60%;
            margin-bottom: 30px;
        }
        img {
            margin-bottom: 30px;
        }

        h2 {
            margin-bottom: 30px;
            font-size: 36px;
            font-weight: 700;

        }

        a {
            text-decoration: none;
            position: relative;
            padding: 18px 30px;
            background-color: white;
            color: $font-main;
            font-weight: 500;
            font-size: 18px;
            border-radius: 50px;
            font-family: $roboto;
            display: flex;
            align-items: center;
            background-color: $link-button-color;
            color: $font-main;

            transition: 0.2s ease-in-out;
            
            &:hover {
                cursor: pointer;
                background-color: $link-button-color-hover;
                box-shadow: 0 0 30px rgba(255, 196, 0, 0.2);
            }
        }

    }

    .session-links {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            margin-left: 70px;
            position: relative;
            padding: 18px 30px;
            background-color: white;
            color: $font-main;
            font-weight: 500;
            font-size: 18px;
            border-radius: 50px;
            font-family: $roboto;
            display: flex;
            align-items: center;

            transition: 0.2s ease-in-out;
    
        }

        .login-link:hover {
            cursor: pointer;
            color: $link-hover-color;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
        }
        
        .register-link {
            background-color: $link-button-color;
            color: $font-main;
            
            &:hover {
                cursor: pointer;
                background-color: $link-button-color-hover;
                box-shadow: 0 0 30px rgba(255, 196, 0, 0.2);
            }
        }

    }

}