.webapp-wrapper {

    position: relative;
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

}

@import './accord_app_content.scss';
@import './accord_app_sidebar.scss';
@import './accord_app_focus.scss';
@import './accord_app_focus_content.scss';
@import './accord_app_main_focus.scss';
@import './servers/asf_modal.scss';
@import './servers/server_nav.scss';
@import './servers/server_members_list.scss';
@import './servers/toolbar/toolbar.scss';
@import './channels/channels_index.scss';
@import './channels/channel_chat_title.scss';
@import './chat/chat.scss';
@import './current_user/current_user_display.scss';
@import './channels/create_channel_modal.scss';
@import './channels/channel_settings_modal.scss';
@import './servers/toolbar/invitation_modal.scss';
@import './servers/toolbar/server_settings_sidebar.scss';
@import './servers/toolbar/server_settings_overview.scss';