.focus {

    .focus-title-bar {
        position: absolute;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 48px;
        padding: 0 12px;
        box-sizing: border-box;
        cursor: default;
        user-select: none;

        position: relative;
        border-bottom: 1px solid $accord-app-3;
        overflow: hidden;

        .focus-title {
            position: relative;
            display: flex;
            flex: 0 0 auto;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;
            width: auto;
            height: 48px;
        }

        .title-toolbar {
            position: relative;
            display: flex;
            flex: 0 0 auto;
            box-sizing: border-box;
            width: 360px;
            height: 48px;
        }

    }

    .focus-content {
        position: relative;
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
    }
}