.messages-wrapper {
    .message-wrapper.bottom {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 20px;
        width: 100%;
        padding: 5px 75px 7px 75px;
    }
    .message-wrapper:not(.message-wrapper.bottom) {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 50px;
        width: 100%;
        padding: 5px 75px 7px 75px;
        margin-top: 15px;

        &:hover {
            background-color: $chat-hover;
        }

        .message-toolbar {
            position: absolute;
            right: 15px;
            top: -12px;
            display: flex;
            align-items: center;
            height: 28px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(black, 0.2);

            &.hidden {
                display: none;
            }

            li {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                height: 100%;
                
                button {
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $accord-app-3;
                    color: $font-main;
                    height: 100%;
                    width: 28px;
                    border-radius: 2px;
                    padding: 5px;
                    cursor: pointer;
                    &:hover {
                        background-color: lighten($accord-app-3, 5%);
                    }
                }
                &:first-child {
                    border-radius: 5px 0 0 5px;
                    // background-color: aqua;
                    button {
                        border-radius: 5px 0 0 5px;
                    }
                }
                &:last-child {
                    // background-color: chartreuse;
                    border-radius: 0 5px 5px 0;
                    button {
                        border-radius: 0 5px 5px 0;
                    }
                }
            }
        }

        .chat-avatar {
            position: absolute;
            top: 1px;
            left: -69px;
            box-sizing: border-box;
            display: flex;
            width: 42px;
            height: 42px;
            border-radius: 50px;
            margin: 0 12px;
        }

        .message-info-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            min-height: 22px;
            margin-bottom: 5px;

            .author {
                color: $font-main;
                font-weight: 700;
                margin-right: 12px;
                
                transform: scale(1.05, 1);

                &:hover {
                    text-decoration: underline;
                    color: black;
                    cursor: default;
                }

                &.not-a-member {
                    font-weight: 500;
                    color: #858585;
                }

            }

            .date-time {
                color: #7e7e7e;
                font-size: 11px;
                font-weight: 700;
                transform: scale(1.05, 1);

            }

            
        }

        .message-body-wrapper {
            display: flex;
            align-items: center;
            .message {
                display: flex;
                align-items: center;
                min-height: 22px;
                font-weight: 300;
                font-size: 16px;
            }
            .edited {
                font-weight: 400;
                font-size: 10px;
                margin-left: 5px;
                color: #7e7e7e;
            }
        }
        

        .um-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .message-form {
                display: flex;
                flex-direction: column;
                padding: 0;
                .um-options {
                    bottom: 0;
                    font-size: 12px;
                    .um-btn {
                        width: auto;
                        background-color: transparent;
                        color: darken($link-color, 15%);
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
    
        }


    }


}