@import "./session/session_form.scss";
@import "./landing/splash_header.scss";
@import "./landing/splash_divs.scss";

html {
    background-color: white;
    .bg-container {
        position: absolute;
        top: 0;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}