@import "./session/session_form.scss";
@import "./landing/splash_header.scss";
@import "./landing/splash_divs.scss";
@import "./landing/splash_footer.scss";
@import "./landing/splash.scss";
@import "./error_404/error_404.scss";
@import "./accord_app/accord_app.scss";

html {
    background-color: #fdf9f6;
    .bg-container {
        position: absolute;
        top: 0;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }
    overflow-x: hidden;
    
}